<nav class="navbar navbar-expand-lg navbar-dark" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Polo TIC mundial</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <i class="fa-solid fa-house"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Carga de datos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/paises">Países</a></li>
                        <li><a class="dropdown-item" href="/estadios">Estadios</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form class="form-inline" th:action="@{/logout}" method="POST">
                        <button class="btn btn-link nav-link active" type="submit" onclick="return confirm('¿Seguro de cerrar sesión?')">
                            <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
                        </button>
                    </form>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link active" aria-current="page" href="/login">
                        <i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link active" aria-current="page" href="/registro">
                        <i class="fa-solid fa-user-plus"></i> Registrarse
                    </a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>